html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.resource-form {
  margin-top: 100px;
}

.active-resource {
  background-color: #3140aa;
  padding: 50px;
  text-align: center;
  color: white;
  height: 300px;
}

.active-resource .resource-name {
  font-size: 30px;
  height: 50px;
}

.active-resource .elapsed-time {
  font-size: 64px;
  font-weight: bold;
}

.active-resource .time-wrapper {
  height: 100px;  
}